{% extends 'base.html.twig' %}

{% block body %}
<div class="row my-4">
    <div class="col">
        <h1 class="mb-4">{{ 'passwordForgot.title' | trans }}</h1>

        {{ form_start(form, { 'attr' : { 'novalidate': 'novalidate' } }) }}
        <p>
            {{ form_label(form.userEmail, 'email' | trans) }}
            {{ form_widget(form.userEmail) }}
        </p>
        <p>
            <input type="submit" class="btn btn-info" name="submit" value="{{ 'btn.validate' | trans }}">
        </p>
        {{ form_end(form) }}
        {{ form_errors(form.userEmail) }}
    </div>
</div>
{% endblock %}