{% extends 'admin/base.admin.html.twig' %}

{% block title %}Ajout/Modification d'un Utilisateur{% endblock %}

{% block colRight %}
    {{ form_start(form) }}
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#general" role="tab" aria-controls="home" aria-selected="true">GENERAL</a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="general" role="tabpanel" aria-labelledby="profile-tab">
            {#{% dump(form) %}#}
            <p>
                {{ form_label(form.username, 'Pseudo :') }}
                {{ form_widget(form.username) }}
            </p>
            <p>
                {{ form_label(form.email, 'Email :') }}
                {{ form_widget(form.email) }}
            </p>
            <p>
                {{ form_label(form.password, 'Mot de passe :') }}
                {{ form_widget(form.password) }}
            </p>
            <p>
                {{ form_label(form.adress, 'Adresse :') }}
                {{ form_widget(form.adress) }}
            </p>
            <p>
                {{ form_label(form.zipCode, 'Code Postal :') }}
                {{ form_widget(form.zipCode) }}
            </p>
            <p>
                {{ form_label(form.city, 'Ville :') }}
                {{ form_widget(form.city) }}
            </p>
            <p>
                {{ form_label(form.country, 'Pays :') }}
                {{ form_widget(form.country) }}
            </p>
        </div>
    </div>
    <input type="submit" name="submit" value="{{ 'btn.validate' | trans }}" class="btn btn-info">
    <a class="btn btn-danger" href="{{ path('admin.era.index') }}">{{ 'btn.return' | trans }}</a>
    {{ form_end(form) }}
    {{ form_errors(form.username) }}
    {{ form_errors(form.email) }}
    {{ form_errors(form.password) }}
    {{ form_errors(form.adress) }}
    {{ form_errors(form.zipCode) }}
    {{ form_errors(form.city) }}
    {{ form_errors(form.country) }}
{% endblock %}